extends layout
block content
  .row
    .col-sm-offset-3.col-sm-6.center
      .window
        h2 User Profile
        form(action='/profile', method='post')
          .form-inputs
            .form-group
              input.form-control(type='text', name='slackUser', placeholder='Slack UserName', value='#{profile.slackUser}')
            .form-group
              input.form-control(type='text', name='phone', placeholder='Phone Number', value='#{profile.phone}')
          .form-actions.text-center
            input(type='hidden', name='userId', value='#{user._id}')
            input(type='submit',value='Save', class='btn btn-default')
