extends ../layout
block content
  .row.search
    div(style="display:none").alert.alert-danger#error
    .col-sm-8.col-sm-offset-2
      .btn-toolbar
        form.well.form-inline#searchForm
          .row
            .form-group.col-sm-10
              label.sr-only(for="query") Text to search
              input.form-control(id="query", name="query", type="text", placeholder="Text to search")
            .col-sm-2
              button(data-loading-text="Searching ...").btn.btn-default#search
                span.glyphicon.glyphicon-search
                != " Search"
      #result

block scripts
  script(src="/js/search.js")
  script(type="text/template")#searchResultTemplate
    |<li>
    |  <div class="jp-audio" >
    |    <div class="bundle-title"><%- name %></div>
    |    <div class="jp-type-single">
    |      <div class="jp-progress">
    |          <div class="jp-seek-bar">
    |            <div class="jp-play-bar"></div>
    |          </div>
    |      </div>
    |      <div class="btn-toolbar player-controls">
    |        <div class="btn-group btn-group-sm pull-right">
    |          <a class="btn-play btn btn-default"><span class="glyphicon glyphicon-play"></span></a>
    |          <a class="btn-pause btn btn-default"><span class="glyphicon glyphicon-pause"></span></a>
    |          <a class="btn-stop btn btn-default"><span class="glyphicon glyphicon-stop"></span></a>
    |        </div>
    |      </div>
    |      <div class="jp-time-holder">
    |        <span class="current-time"></span> / <span class="duration"></span>
    |      </div>
    |    </div>
    |  </div>
    |  <div class="player"></div>
    |</li>
