extends ../layout
block content
  .container.show
    .row
      .col-sm-2
        label URL:
      .col-sm-10
        a(href=call.url) Link
    .row
      .col-sm-2
        label Duration:
      .col-sm-10
        p= call.duration
    .row
      .col-sm-2
        label Processing Cost:
      .col-sm-10
        p= call.processing_cost
    input#call(type="hidden", value=call._id)
